@mixin tablet() {
  @media all and(min-width:768px) {
    @content;
  }
}

.header {
  background-color: $color-bg-header;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 3px 0;
  @include tablet() {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 30px;
  }
}
.menu {
  padding: 0;
  &-item {
    display: inline-block;
  }
  &-link {
    text-decoration: none;
    color: $color-font-header;
    text-transform: uppercase;
    padding: 10px;
  }
}
