.main {
  background-color: $color-bg-main;
  color: $color-font-main;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-item {
  display: block;
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  @include tablet() {
    font-size: 40px;
  }
}
