@import "./core/reset";
@import "./core/variables";
@import "./layout/header";
@import "./layout/page";

// @media all and (min-width: 768px) {
//   .header {
//     flex-direction: row;
//     justify-content: space-between;
//     padding: 20px 20px 20px 30px;
//   }
//   .title-item {
//     font-size: 40px;
//   }
// }
